[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
bootstrap4 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
bcrypt = "*"
urllib3 = "*"
charset-normalizer = "*"
idna = "*"
certifi = "*"
requests = "*"
utils = "*"
pyttsx3 = "*"
pytz = "*"
openai = "*"
opencv-python-headless = "*"

[dev-packages]
flake8 = "*"
flake8-commas = "*"

[requires]
python_version = "3.11.9"
