[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
waitress = "*"
django = "*"
djangorestframework = "*"
bootstrap4 = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
bcrypt = "*"
urllib3 = "*"
charset-normalizer = "*"
idna = "*"
certifi = "*"
requests = "*"
utils = "*"
pyttsx3 = "*"
pytz = "*"
openai = "*"
opencv-python-headless = "*"
mediapipe = "*"
opencv-contrib-python = "*"
numpy = "*"
jax = "*"
jaxlib = "*"
matplotlib = "*"
opencv-python = "*"
absl-py = "*"
attrs = "*"
flatbuffers = "*"
protobuf = "*"
sounddevice = "*"

[dev-packages]
flake8 = "*"
flake8-commas = "*"

[requires]
python_version = "3.11.9"
