<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>臥推的孩子</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
<!--    <link href="/static/img/logo2.png" rel="icon">-->
<!--    <link href="/static/img/logo2.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="/static/css/variables.css" rel="stylesheet">
    <!-- <link href="/static/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/variables-orange.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="/static/css/variables-pink.css" rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: HeroBiz
    * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<style>
    body, html {
      height: 100%;
    }

    .messages-box {
      flex: 1;
      
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 10px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      width: 600px;
      text-align: right;
      float: right;
      margin-top: 10px;
      background-color: #31b0c7;
      color: white;
      align-self: flex-end;
      clear: both;
    }

    .received {
      width: 600px;
      text-align: left;
      float: left;
      margin-top: 10px;
      background-color: #f1f0f0;
      align-self: flex-start;
      clear: both;
      
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 10;
      border-color: #31b0c7;
      background-color: #31b0c7;
    }

    .chat-container {
      height: 500px;
      width: 1300px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      
    }
</style>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
             <img src="/static/img/logo2.png" alt="">
            <h1><span><b>臥推</b></span><b>的孩子</b></h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">首頁</a></li>
                <li><a class="nav-link scrollto" href="/profile/">個人資料</a></li>
                <li><a class="nav-link scrollto" href="/detect">健身監測</a></li>
                <li><a class="nav-link scrollto" href="/video/">教學影片</a></li>
                <li><a class="nav-link scrollto" href="/record/">運動紀錄</a></li>
                <li><a class="nav-link scrollto" href="/wisdomQA/">智慧問答</a></li>
                <li><a class="nav-link scrollto" href="/post/">文章列表</a></li>
                <li><a class="nav-link scrollto" href="/development/">開發團隊</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

<!--        <a class="btn-getstarted scrollto" href="/login/">登入</a>-->
        {% if 'email' not in request.COOKIES.keys %}
        <a class="btn-getstarted scrollto" href="/login/">登入</a>
        {% endif %}
        {% if 'email' in request.COOKIES.keys %}
        <a class="btn-getstarted scrollto" href="/logout/">登出</a>
        {% endif %}



    </div>
</header><!-- End Header -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
         data-aos="zoom-out">
         <div class="chat-container" >
            <div class="card flex-grow-1" >
              
              
              <div class="card-body messages-box" >
                
                <ul class="list-unstyled messages-list">
                  
                  {% for chat in chats %}
                    {% if chat.user == request.user %}
          
                      <li class="message sent">
                    <div class="message-text" >
                      <div class="message-sender">
                        <b>你</b>
                      </div>
                      <div class="message-content">
                        {{chat.message}}
                      </div>
                    </div>
                  </li>
          
                  <li class="message received">
                    <div class="message-text">
                      <div class="message-sender">
                        <b>健身機器人</b>
                      </div>
                      <div class="message-content">
                        {{chat.response}}
                      </div>
                    </div>
                  </li>
          
                    {% endif %}
                  {% endfor %}
                  
                </ul>
                
              </div>
              <br><br>
              <br><br>
              <br><br>
            </div>
            <form class="message-form">
              {%csrf_token%}
              <div class="input-group">
                <input type="text" class="form-control message-input" placeholder="Type your message...">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-send">Send</button>
                </div>
              </div>
            </form>
          </div>
    </div>
</section>

<main id="main">

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>HeroBiz</h3>
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="footer-legal text-center">
        <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>HeroBiz</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>

            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </div>

</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

<script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
  
    messageForm.addEventListener('submit', (event) => {
      event.preventDefault();
  
      const message = messageInput.value.trim();
      if (message.length === 0) {
        return;
      }
  
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>You</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);
      scrollToBottom(); 
  
      messageInput.value = '';
  
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message
        })
      })
        .then(response => response.json())
        .then(data => {
          const response = data.response;
          const messageItem = document.createElement('li');
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem);
          scrollToBottom(); 
        });
    });
    
    const chatBox = document.getElementById('chatbot');
    chatBox.scrollTop = chatBox.scrollHeight;
</script>

<script>
    function scrollToBottom() {
    const chatBox = document.querySelector('.chat-container');
    chatBox.scrollTop = chatBox.scrollHeight;
  }

</script>

</body>

</html>