<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>臥推的孩子</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="/static/css/variables.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/main.css" rel="stylesheet">

</head>

<style>
    body, html {
      height: 100%;
    }

    .messages-box {
      flex: 1;
      
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 10px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      width: 600px;
      text-align: right;
      float: right;
      margin-top: 10px;
      background-color: #4aa0ba;
      color: white;
      align-self: flex-end;
      clear: both;
    }

    .received {
      width: 600px;
      text-align: left;
      float: left;
      margin-top: 10px;
      background-color: #f1f0f0;
      align-self: flex-start;
      clear: both;
      
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 10;
      border-color: #4aa0ba;
      background-color: #4aa0ba;
    }

    .btn-send:hover {
      background: #65aec4	; /* 設定懸停效果 */
    }

    .chat-container {
      height: 500px;
      width: 1100px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      
    }
</style>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
             <img src="/static/img/logo2.png" alt="">
            <h1><span><b>臥推</b></span><b>的孩子</b></h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">首頁</a></li>
                <li><a class="nav-link scrollto" href="/profile/">個人資料</a></li>
                <li><a class="nav-link scrollto" href="/detect">健身監測</a></li>
                <li><a class="nav-link scrollto" href="/video/">教學影片</a></li>
                <li><a class="nav-link scrollto" href="/record/">運動紀錄</a></li>
                <li><a class="nav-link scrollto" href="/wisdomQA/">智慧問答</a></li>
                <li><a class="nav-link scrollto" href="/post/">文章列表</a></li>
                <li><a class="nav-link scrollto" href="/development/">開發團隊</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav>

        {% if 'email' not in request.COOKIES.keys %}
        <a class="btn-getstarted scrollto" href="/login/">登入</a>
        {% endif %}
        {% if 'email' in request.COOKIES.keys %}
        <a class="btn-getstarted scrollto" href="/logout/">登出</a>
        {% endif %}



    </div>
</header><!-- End Header -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
         data-aos="zoom-out">
         <div class="chat-container" >
            <div class="card flex-grow-1" >
              
              
              <div class="card-body messages-box" >
                
                <ul class="list-unstyled messages-list">
                  
                  {% for chat in chats %}
                    {% if chat.user == request.user %}
          
                      <li class="message sent">
                    <div class="message-text" >
                      <div class="message-sender">
                        <b>你</b>
                      </div>
                      <div class="message-content">
                        {{chat.message}}
                      </div>
                    </div>
                  </li>
          
                  <li class="message received">
                    <div class="message-text">
                      <div class="message-sender">
                        <b>健身機器人</b>
                      </div>
                      <div class="message-content">
                        {{chat.response}}
                      </div>
                    </div>
                  </li>
          
                    {% endif %}
                  {% endfor %}
                  
                </ul>
                
              </div>
              <br><br>
              <br><br>
              <br><br>
            </div>
            <form class="message-form">
              {%csrf_token%}
              <div class="input-group">
                <input type="text" class="form-control message-input" placeholder="Type your message...">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-send">Send</button>
                </div>
              </div>
            </form>
          </div>
    </div>
</section>

<main id="main">


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

<script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
  
    messageForm.addEventListener('submit', (event) => {
      event.preventDefault();
  
      const message = messageInput.value.trim();
      if (message.length === 0) {
        return;
      }
  
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>You</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);
      scrollToBottom(); 
  
      messageInput.value = '';
  
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message
        })
      })
        .then(response => response.json())
        .then(data => {
          const response = data.response;
          const messageItem = document.createElement('li');
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem);
          scrollToBottom(); 
        });
    });
    
    const chatBox = document.getElementById('chatbot');
    chatBox.scrollTop = chatBox.scrollHeight;
</script>

<script>
    function scrollToBottom() {
    const chatBox = document.querySelector('.chat-container');
    chatBox.scrollTop = chatBox.scrollHeight;
  }

</script>

</body>

</html>